<%- include('partials/header'); -%>
    <section class="banner banner-secondary" id="top" style="background-image: url(img/banner-image-1-1920x300.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
      <!-- About us -->
        <section class="our-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-content">
                            <br>
                            <h4>About us</h4>
                            <p>DND travels, a subsidiary of DND GIANTS LTD is one of the leading Tour operators in Nigeria providing comprehensive travel services for individuals, groups and corporations within and outside Nigeria.<br>
                              <br>We are a reputable and professionally managed company. We have a track record of creating memorable  travels experiences for every of our clients. Why not join our family to enjoy affordable luxury.</p>

                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <img class="about-right-img" src="img/about-1-720x480.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal button -->

        <section class="popular-places" id="popular">

            <div class="container ">
                <div class="row ">
                  <h2>Meet our team </h2>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="item popular-item">
                          <div class="thumb">
                              <div class="thumb-img">
                                  <img src="img/popular_item_2.jpg" alt="">
                              </div>
                              <div class="text-content">
                                  <h4>Dr Odunayo Soremekun</h4>
                                  <span><em>COO/Founder - DND Travel</em></span>
                              </div>
                          </div>
                      </div>
                  </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/popular_item_2.jpg" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Dr Busayomi Soremekun</h4>
                                    <span><em>COO/Founder - DND Travel</em></span>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/popular_item_2.jpg" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>Dr Odunayo Soremekun</h4>
                                    <span><em>COO/Founder - DND Travel</em></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item popular-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/popular_item_3.jpg" alt="">
                                </div>
                                <div class="text-content">
                                    <h4>John Doe</h4>
                                  <span><em>Lorem ipsum dolor sit amet</em></span>
                                  </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </section>




    </main>
<%- include('partials/footer'); -%>
