
<%- include('partials/header'); -%>
    <section class="banner banner-secondary" id="top" style="background-image: url(img/banner-image-3-1920x300.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>Packages</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
      <section class="featured-places">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-heading">
                        <div class="blue-button">

                        </div>
                          <h2>Upcoming Experience...</h2>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb ">
                              <div class="thumb-img">
                                  <img src="img/IMG-1985.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Summer </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 6 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Cairo & Sharm El Sheikh</h4>

                              <p>Egypt visa on arrival | Return flight ticket | Domestic flight | 2 nights in Cairo with breakfast, lunch & dinner |
                              Cairo city tour (Pyramids of Giza, Sphinx tour, Egypt Musuem) | Deep sea diving & snorkeling |
                              Desert safari and Quad biking | Glass boat | parasailing | Airport transfers</p>
                              <p><span><sup>from <strong>$</strong></sup><strong>1545</strong> - <strong><sup>$</sup>1545</strong></span></p>


                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb">
                              <div class="thumb-img ">
                                  <img src="img/IMG-1987.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Summer</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 5 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Summer in Zanzibar</h4>
                              <p>E-visa | Return Economy Flight Ticket | Daily breakfast & dinner | 5 Nights Beach Resort accommodation
                              Stone Town tour | Ocean Safari blue with launch | Snorkeling |
                              Desert safari and Quad biking | Sunset cruise |  Airport transfers</p>
                              <p><span><sup>from <strong>₦</strong></sup><strong>1,590,000</strong> - <strong><sup>₦</sup>1,800,000</strong></span></p>

                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb">
                              <div class="thumb-img">
                                  <img src="img/IMG-1979.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Winter Oct 21-29</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 7 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Explore Bali</h4>
                              <p>Indonesia visa | 4 Night Accomodation in Ubud | 3 Night Accomodation in Seminyak | Lunch & dinner |
                              Stone Town tour | Ocean Safari blue with launch | Snorkeling ttip to Blue lagoon |
                              Desert safari and Quad biking | Goa Giri Putri temple |  Airport transfers and private transport</p>
                              <p><span><strong><sup>Premium ★ </sup></strong><sup>from <strong>$</strong></sup><strong>1650</strong> - <strong><sup>$</sup>2050</strong></span></p>
                              <p><span><strong><sup>Luxury ★ </sup></strong><sup>from <strong>$</strong></sup><strong>2100</strong> - <strong><sup>$</sup>3130</strong></span></p>

                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb">
                              <div class="thumb-img">
                                  <img src="img/product-4-720x480.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Limelight Lodge</h4>

                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                              <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb">
                              <div class="thumb-img">
                                  <img src="img/product-5-720x480.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Limelight Lodge</h4>

                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                              <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="featured-item">
                          <div class="thumb">
                              <div class="thumb-img">
                                  <img src="img/product-6-720x480.jpg" alt="">
                              </div>

                              <div class="overlay-content">
                                  <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                              </div>
                          </div>

                          <div class="down-content">
                              <h4>Limelight Lodge</h4>

                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                              <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                              <div class="text-button">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


  <%- include('partials/footer'); -%>
